* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

main {
    width: 960px;
    margin: 50px auto;
}

.content-box {
    width: 300px;
    position: relative;
    float: left;
    margin-right: 30px;
    padding: 10px;
    border: 0.5px solid #eeeeee;
}

.content-box:last-child {
    margin-right: 0;
}

.content-img1 {
    height: 150px;
    background-image: url(img/flow01.png);
    background-size: cover;
    background-position: bottom;
}

.content-img2 {
    height: 150px;
    background-image: url(img/flow02.png);
    background-size: cover;
    background-position: bottom;
}
.content-img3 {
    height: 150px;
    background-image: url(img/flow03.png);
    background-size: cover;
    background-position: bottom;
}

.content-title {
    padding: 10px 0 5px 0;
}

.content-num {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 3px;
    background-color: #ff8844;
}